
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace, monospace;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.parallax {
  position: relative;
  min-width: 2000px;
  min-height: 100vh;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-areas: "stack";
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}
